:root{
    --color-black: rgb(0, 0, 0);
    --color-blue: #122f51;
    --color-white: #ffffff;
    --color-yellow: rgb(238, 255, 0);
    --color-yellow-2: rgb(243, 219, 0);
    --color-laranja: rgb(255, 153, 0);
}

*{
    margin: 0;
    padding: 0;
    font-family: "Work Sans",Arial,Helvetica,sans-serif;
}

#menu{
    background-color: var(--color-blue);
    height: 7vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

#menu a{
    color: var(--color-white);
    margin-left: 1.5%;
    font-size: 1.1rem;
    text-decoration: none;
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
    z-index: 2;
}
#menu a:hover{
  text-decoration: underline;
}
@media screen and (max-width: 770px) {
    #menu span{
        font-size: 1rem;
    }
}

.student{
    color: var(--color-white);
    transition: background-color 0.2s ease, color 0.2s ease;
    animation: trocarCores 1s infinite alternate;
}

@keyframes trocarCores {
  0%, 100% {
    color: white;
  }
  50% {
    color: rgb(238, 255, 0);
  }
}

.student:hover{
  text-decoration: underline var(--color-yellow);
}

#menu2 {
    display: none;
    overflow: hidden;
    height: 0;
    opacity: 0;
    transition: height 1s ease, opacity 1s ease;
    z-index: 2;
}
@media screen and (max-width: 770px) {
    #menu2 span{
        font-size: 0.8rem;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}


#menu2.ativo {
    background-color: var(--color-blue);
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    z-index: 2;
    position: absolute;
    width: 100%;
}
@media screen and (max-width: 770px) {
    #menu2.ativo{
        /*TERMINAR*/
    }
}

#menu2 span:hover{
  text-decoration: underline;
}

#menu2 a{
  margin-left: 1.5%;
  text-decoration: none;
  font-family: 'DM Sans', sans-serif;
  color: var(--color-white);
  z-index: 2;
}

#container{
  width: 100%;
  height: 80vh;
  margin: 0;
  padding: 0;
  display: flex;
  z-index: 1;
}
@media screen and (max-width: 770px) {
    #container{
        display: flex;
        height: 30vh;
    }
}

#container video{
  position: absolute;
  width: 100%;
  height: 80%;
  object-fit: cover;
  z-index: 1;
}
@media screen and (max-width: 770px) {
    #container video{
        position: absolute;
        width: 100%;
        height: 30vh;
    }
}

.navegation{
  width: 100%;
  height: 50vh;
  /*background-color: rgb(197, 197, 197); */
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 770px) {
    .navegation{
        width: 100%;     
    }
}

.box{
  width: 1200px;
  height: 300px;
  /*background-color: red; */
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 770px) {
    .box{
        width: 100%;
    }
}

.box1{
  width: 250px;
  height: 250px;
  background-color: rgb(255, 255, 255);
}

.box i{
  font-size: 5rem;
  margin-top: 5%;
  color: var(--color-laranja); 
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 770px) {
    .box1 i{
      font-size: 3rem;
    }
}
@media screen and (max-width: 770px) {
    .box2 i{
      font-size: 3rem;
    }
}
@media screen and (max-width: 770px) {
    .box3 i{
      font-size: 3rem;
    }
}
@media screen and (max-width: 770px) {
    .box4 i{
      font-size: 3rem;
    }
}
.box p{
  display: flex;
  justify-content: center;
  margin-top: 5%;
  color: var(--color-laranja);
  font-weight: 750;
  text-decoration: underline 2.2px;
}
.box h4{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--color-laranja);
  font-size: 0.9rem;
  margin-top: -5%;
  margin-left: 5%;
  margin-right: 5%;
  font-weight: 100;
}
.box a{
  text-decoration: none;
}
.btn{
  display: flex;
  margin: auto;
  width: 80%;
  justify-content: center;
  height: 5vh;
  align-items: center;
  margin-top: 2%;
  background-color: var(--color-laranja);
  border: none;
  font-size: 0.8rem;
  color: var(--color-white);
}
.btn:hover{
  cursor: pointer;
  box-shadow: 2px 2px 2px black;
  transform: scale(1.1);
  transition: 0.6s ease;
}
.btn2:hover{
  cursor: pointer;
  box-shadow: 2px 2px 2px black;
  transform: scale(1.1);
  transition: 0.6s ease;
}
.btn3:hover{
  cursor: pointer;
  box-shadow: 2px 2px 2px black;
  transform: scale(1.1);
  transition: 0.6s ease;
}
.btn4:hover{
  cursor: pointer;
  box-shadow: 2px 2px 2px black;
  transform: scale(1.1);
  transition: 0.6s ease;
}

.box2{
  width: 250px;
  height: 250px;
  background-color: rgb(255, 255, 255);
  margin-left: 2%;
}
.box2 i{
  color: var(--color-blue);
  font-size: 5rem;
}
.box2 p{
  color: var(--color-blue);
}
.box2 h4{
  color: var(--color-blue);
}
.btn2{
  display: flex;
  margin: auto;
  width: 80%;
  justify-content: center;
  height: 5vh;
  align-items: center;
  margin-top: 2%;
  background-color: var(--color-blue);
  border: none;
  font-size: 0.8rem;
  color: var(--color-white);
}

.box3{
  width: 250px;
  height: 250px;
  background-color: rgb(255, 255, 255);
  margin-left: 2%;
}
.btn3{
  display: flex;
  margin: auto;
  width: 80%;
  justify-content: center;
  height: 5vh;
  align-items: center;
  margin-top: 2%;
  background-color: var(--color-blue);
  border: none;
  font-size: 0.8rem;
  color: var(--color-white);
}
.btn4{
  display: flex;
  margin: auto;
  width: 80%;
  justify-content: center;
  height: 5vh;
  align-items: center;
  margin-top: 2%;
  background-color: var(--color-blue);
  border: none;
  font-size: 0.8rem;
  color: var(--color-white);
}

.box3 i{
  color: var(--color-blue);
}
.box3 p{
  color: var(--color-blue);
}
.box3 h4{
  color: var(--color-blue);
}

.box4{
  width: 250px;
  height: 250px;
  background-color: rgb(255, 255, 255);
  margin-left: 2%;
}
.box4 i{
  color: var(--color-blue);
}
.box4 p{
  color: var(--color-blue);
}
.box4 h4{
  color: var(--color-blue);
}

.home{
  display: flex;
  width: 100%;
  height: 5vh;
  justify-content: center;
  align-items: center;
}

.home p{
  font-size: 2rem;
}

.home2{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1%;
}

#carrossel{
  margin-top: 7%;
  background-color: red;
  width: 100%;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imgs{
  width: 1000px;
  height: 350px;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img1{
  width: 250px;
  height: 250px;
  background-color: blue;
}
.img2{
  width: 250px;
  height: 250px;
  background-color: rgb(52, 52, 53);
  margin-left: 3%;
}
.img3{
  width: 250px;
  height: 250px;;
  background-color: rgb(6, 160, 160);
  margin-left: 3%;
}

#baseboard{
  width: 100%;
  height: 5vh;
  background-color: rgb(255, 255, 255);
}

.rodape li{
  list-style: none;
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 0.7rem;
  font-family: Arial, Helvetica, sans-serif;
}

#social-midia{
  width: 100%;
  height: 4vh;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

#social-midia a{
  width: 40px;
  height: 1px;
 
}

#social-midia img{
  margin: 0 5px;
  
}

.CookieMessage {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: #121212;
    z-index: 999;
    display: none;
  }
  
  .CookieMessage-content {
    color: white;
    max-width: 900px;
    margin: 0 auto;
    padding: 20px 20px 0 20px;
    font-family: sans-serif;
    line-height: 1.5;
    font-size: 13px;
  }
  .CookieMessage-content a{
    color: white;
  }
  .CookieMessage-content p{
    margin: 0 0 20px 0;
  }
  
  .CookieMessage-button {
    background: #00C2FF;
    display: inline-block;
    text-decoration: none;
    padding: 5px 20px;
    border-radius: 5px;
    text-transform: uppercase;
  
  }
  .CookieMessage-button:hover{
    background: #5cd9ff;
  }

#privacy{
  background-color: red;
  width: 80%;
  height: 100vh;
  margin: auto;
}
#privacy h2{
  font-size: 1.3rem; 
  right: 10%;
}
#privacy li{
  font-size: 1rem;
  list-style: none;
  width: 40%;
  text-align: justify;
}

.politica{
  background-color: blue;
  width: 40%;
  height: 100vh;
  display: flex;
  float: right;
}